/* #toolbar {

}

#toolbar > button {
  margin: 2px;
  padding: 2px;
  border: 2px solid black;
  border-radius: 4px;
}

#toolbar > button:hover {
  background-color: #eee;
}

#toolbar > button.is-active {
  background-color: black;
  color: white;
} */